
{{> top}}

    <head>
        {{> title-meta title="Starter Page"}}

        {{> head-css}}

    </head>
    {{> body}}

        <div class="layout-wrapper d-lg-flex">

            <!-- Start left sidebar-menu -->
            {{> sidebar-menu}}
            <!-- end left sidebar-menu -->
            
        </div>
        <!-- end  layout wrapper -->

        {{> vendor-scripts}}

        <script src="./assets/js/app.js"></script>

    </body>
</html>
